body {
  background-color: #bb8fce;
}

h1 {
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

.table.table-striped-columns {
  border: solid #a66ee5 3px;
}

.form-control {
    border: solid #a66ee5 3px;
}

#inputs,
#tabla,
#calendario {
  margin: 3%;
}

